{% extends 'layout.html' %}
{% load static %}
{% load dict_tags %}
{% block title %}Baabuu Clothing - Home{% endblock %}
{% block body %}
    
<div class="wraper">
<div class="page-content-wraper">
    <!-- Intro -->
    <section id="intro" class="intro">
        <!-- Revolution Slider -->
        <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="background-color: transparent; padding: 0px;">
            <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display: none;" data-version="5.3.0.2">
                <ul>
                    {% comment %} <li class="dark-bg" data-index="rs-1" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="01">
                        <!-- Main Image Layer 0-->
                        <img src="static/img/slide-img/slide_bg1.jpg" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />


                        <!--Layer 1-->
                        <h1 class="tp-caption NotGeneric-Title tp-resizeme text-center" style="letter-spacing: 0px; line-height: 60px;"
                            data-x="140"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="-100"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="500"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">New Look<br />
                            Fashion 2024
                        </h1>


                        <!--Layer 2-->
                        <h3 class="tp-caption NotGeneric-Title tp-resizeme h3 normal text-center" style="letter-spacing: 0px;"
                            data-x="195"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="0"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="800"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">What's Tranding Fashion?
                        </h3>

                        <!--Layer 3-->
                        <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md btn-color"
                            data-x="245"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="75"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="1100"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">See More
                        </a>


                    </li> {% endcomment %}
                 <li data-index="rs-2" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="02">
                        <!-- Main Image Layer 0-->
                        <img src="static/img/slide-img/slide_bg2.jpg" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                        <!-- LAYERS -->

                        <!--Layer 1-->
                        <h1 class="tp-caption NotGeneric-Title tp-resizeme" style="letter-spacing: 0px; line-height: 60px;"
                            data-x="150"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="-100"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="500"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">New Look<br />
                            Fashion 2024
                            </h1>
                                <!--Layer 2-->
                    <h3 class="tp-caption NotGeneric-Title tp-resizeme h3 normal text-center" style="letter-spacing: 0px;"
                        data-x="150"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="0"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="800"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">What's Tranding Fashion?
                    </h3>



                        <!--Layer 3-->
                        <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md btn-color"
                            data-x="150"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="75"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="1100"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">See More
                        </a>
                    </li> 
                    <li data-index="rs-3" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="03">
                        <!-- Main Image Layer 0-->
                        <img src="static/img/slide-img/slide_bg3.jpg" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                        <!-- LAYERS -->

                        <!--Layer 1-->
                        <div class="tp-caption NotGeneric-Title tp-resizeme" style="letter-spacing: 0px; line-height: 60px;"
                            data-x="center"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="-65"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="500"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">
                            <img src="static/img/slider-caption-sale.png" alt="" style="width: 100%; max-width: 682px;" />
                        </div>

                        
                        <!--Layer 2-->
                        <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md btn-black"
                            data-x="center"
                            data-y="center"
                            data-hoffset=""
                            data-voffset="65"
                            data-transform_idle="o:1;"
                            data-width="['auto','auto','auto','auto']"
                            data-height="['auto','auto','auto','auto']"
                            data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                            data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                            data-start="900"
                            data-speed="500"
                            data-endspeed="500"
                            data-splitin="none"
                            data-splitout="none"
                            data-responsive_offset="on">See More
                        </a>
                    </li> 
                </ul>
            </div>
        </div>

        <!-- End Revolution Slider -->
    </section>
    <!-- End Intro -->

  


    <!-- New Product -->
    <section class="section-padding">
        <div class="container">
            <h2 class="page-title">New Product</h2>
        </div>
        <div class="container">
            <div id="new-tranding" class="product-item-4 owl-carousel owl-theme nf-carousel-theme1">
                <!-- item.1 -->
                {% for product in new_arrival %}
                <div class="product-item">
                    <div class="product-item-inner">
                        <div class="product-img-wrap sectionimg">
                            <a href="{% url 'show_product' product.id %}">
                                <img src="{{ product.image_url }}?v={{ product.updated_at|date:'U' }}" alt="{{ product.product.name }}">
                            </a>
                        </div>
                        <style>
                        .sectionimg{
                            height: 255px !important;
                            width: 255px !important;
                        }
                        </style>
                         <div class="product-button">
    
                            <a href="{% url 'show_product' product.id %}" class="js_tooltip" data-mode="top" data-tip="Show Product"><i class="fa fa-eye"></i></a>
                        </div> 
                    </div>
                    <div class="product-detail">
                        <a class="tag" href="#">{{ product.product.category.name }}</a>
                        <p class="product-title"><a href="">{{ product.product.name }}</a></p>
                        <div class="product-rating">
                            {% with review_data=new_arrival_reviews_dict|get_item:product.id %}
                                {% if review_data %}
                                    {% if review_data.review_count > 0 %}
                                    <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated {{ review_data.avg_rating }} out of 5">
                                        <span style="width: {% widthratio review_data.avg_rating 1 20 %}%"></span>
                                    </div>
                                    <a href="#" class="product-rating-count review-clickable" data-product-id="{{ product.id }}" data-product-name="{{ product.product.name }}">
                                        <span class="count">{{ review_data.review_count }}</span> Review{{ review_data.review_count|pluralize }}
                                    </a>
                                    {% else %}
                                    <div class="star-rating" title="No ratings yet">
                                        <span style="width: 0%"></span>
                                    </div>
                                    <span class="product-rating-count text-muted">No reviews yet</span>
                                    {% endif %}
                                {% else %}
                                <div class="star-rating" title="No ratings yet">
                                    <span style="width: 0%"></span>
                                </div>
                                <span class="product-rating-count text-muted">No reviews yet</span>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <p class="product-description">
                            {{ product.description }}
                        </p>
                        <h5 class="item-price">
                            {% if 'USD' in request.session.currency %}
                            $ {{ product.product.price_usd|floatformat:2 }}
                        {% else %}
                            Rs {{ product.product.price_usd|floatformat:2 }}
                        {% endif %}    
                        </h5>
                    </div>
                </div>   {% endfor %}
                <!-- item.2 -->
               

            </div>
        </div>
    </section>

    <!-- Categories -->
    <section class="">
        <div class="section-padding container-fluid bg-image text-center overlay-light90" data-background-img="static/img/bg/bg_5.jpg" data-bg-position-x="center center">
            <div class="container">
                <h2 class="page-title">Shop by Categories</h2>
            </div>
        </div>
        <div class="container container-margin-minus-t">
            <div class="row">
                <div class="col-md-4">
                    <div class="categories-box">
                        <div class="categories-image-wrap">
                            <img src="static/img/categories/Categories_man.jpg" alt="" />
                        </div>
                        <div class="categories-content">
                            <a href="/man">
                                <div class="categories-caption">
                                    <h6 class="normal">Man</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="categories-box">
                        <div class="categories-image-wrap">
                            <img src="static/img/categories/Categories_women.jpg" alt="" />
                        </div>
                        <div class="categories-content">
                            <a href="/woman/">
                                <div class="categories-caption">
                                    <h6 class="normal">Women</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="categories-box">
                        <div class="categories-image-wrap">
                            <img src="static/img/categories/Categories_kids.jpg" width="400" height="600 " alt="" />
                        </div>
                        <div class="categories-content">
                            <a href="/kids">
                                <div class="categories-caption">
                                    <h6 class="normal">Kids</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
              
            </div>
        </div>
    </section>
    <!-- End Categories -->

    <section class="section-padding">
        <div class="container">
            <h2 class="page-title">New Tranding</h2>
        </div>
        <div class="container">
            <div id="new-tranding" class="product-item-4 owl-carousel owl-theme nf-carousel-theme1">
                <!-- item.1 -->
                {% for product in popular_products %}
                <div class="product-item">
                    <div class="product-item-inner">
                        <div class="product-img-wrap sectionimg">
                            <a href="{% url 'show_product' product.id %}">
                                <img src="{{ product.image_url }}?v={{ product.updated_at|date:'U' }}" alt="{{ product.product.name }}">
                            </a>
                        </div>
                        <style>
                            .sectionimg{
                                height: 255px !important;
                                width: 255px !important;
                            }
                            </style>
                     <div class="product-button">
                         
                            <a href="{% url 'show_product' product.id %}" class="js_tooltip" data-mode="top" data-tip="Show Product"><i class="fa fa-eye"></i></a>
                        </div> 
                    </div>
                    <div class="product-detail">
                        <a class="tag" href="#">{{ product.product.category.name }}</a>
                        <p class="product-title"><a href="">{{ product.product.name }}</a></p>
                        <div class="product-rating">
                            {% with review_data=most_buy_reviews_dict|get_item:product.id %}
                                {% if review_data %}
                                    {% if review_data.review_count > 0 %}
                                    <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated {{ review_data.avg_rating }} out of 5">
                                        <span style="width: {% widthratio review_data.avg_rating 1 20 %}%"></span>
                                    </div>
                                    <a href="#" class="product-rating-count review-clickable" data-product-id="{{ product.id }}" data-product-name="{{ product.product.name }}">
                                        <span class="count">{{ review_data.review_count }}</span> Review{{ review_data.review_count|pluralize }}
                                    </a>
                                    {% else %}
                                    <div class="star-rating" title="No ratings yet">
                                        <span style="width: 0%"></span>
                                    </div>
                                    <span class="product-rating-count text-muted">No reviews yet</span>
                                    {% endif %}
                                {% else %}
                                <div class="star-rating" title="No ratings yet">
                                    <span style="width: 0%"></span>
                                </div>
                                <span class="product-rating-count text-muted">No reviews yet</span>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <p class="product-description">
                            {{ product.description }}
                        </p>
                     
                        <h5 class="item-price">
                            {% if 'USD' in request.session.currency %}
                            $ {{ product.product.price_usd|floatformat:2 }}
                        {% else %}
                            Rs {{ product.product.price_usd|floatformat:2 }}
                        {% endif %}
                        </h5>
                    </div>
                </div>   {% endfor %}
                <!-- item.2 -->
               

            </div>
        </div>
    </section>
    <!-- End New Product -->


    
    <!-- Brnad Logo -->
    {% comment %} <section id="brand-logo" class="section-padding brand-logo">
        <div class="container">
            <ul class="list-none-ib brand-logo-carousel owl-carousel owl-theme">
                <li class="brand-item"><a href="#">
                    <img src="static/img/logo/01.png" alt="nileforest" />
                </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/02.png" alt="niletheme" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/03.png" alt="nile" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/04.png" alt="forest" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/05.png" alt="themeforest" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/06.png" alt="woocommerce" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/07.png" alt="ecommerce" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/08.png" alt="html" />
                    </a>
                </li>
                <li class="brand-item">
                    <a href="#">
                        <img src="static/img/logo/09.png" alt="multiprapose" />
                    </a>
                </li>

            </ul>

        </div>
    </section> {% endcomment %}
    <!-- End Brnad Logo -->

<!-- Review Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">
                    <i class="fa fa-star text-warning"></i> Reviews for <span id="modalProductName"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="reviewModalBody">
                <div class="text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-2">Loading reviews...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.review-clickable {
    cursor: pointer;
    transition: color 0.3s;
}

.review-clickable:hover {
    color: #34b79d !important;
    text-decoration: underline;
}

.review-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.review-item:last-child {
    border-bottom: none;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.reviewer-name {
    font-weight: bold;
    color: #333;
}

.review-date {
    font-size: 0.9em;
    color: #999;
}

.review-stars {
    color: #ffc107;
    font-size: 16px;
    margin: 5px 0;
}

.review-comment {
    color: #666;
    line-height: 1.6;
    margin-top: 8px;
}

.verified-badge {
    background: #28a745;
    color: white;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 0.75em;
    margin-left: 8px;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Check if Bootstrap modal is available
    if (typeof bootstrap === 'undefined') {
        // Load Bootstrap JS if not available
        const script = document.createElement('script');
        script.src = 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js';
        document.head.appendChild(script);
        script.onload = initReviewModal;
    } else {
        initReviewModal();
    }
    
    function initReviewModal() {
        const reviewModalElement = document.getElementById('reviewModal');
        if (!reviewModalElement) return;
        
        const reviewModal = new bootstrap.Modal(reviewModalElement);
        const reviewClickables = document.querySelectorAll('.review-clickable');
        
        reviewClickables.forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const productId = this.getAttribute('data-product-id');
                const productName = this.getAttribute('data-product-name');
                
                document.getElementById('modalProductName').textContent = productName;
                document.getElementById('reviewModalBody').innerHTML = `
                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="mt-2">Loading reviews...</p>
                    </div>
                `;
                
                reviewModal.show();
                
                // Fetch reviews via AJAX
                fetch(`/get_product_reviews/${productId}/`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            displayReviews(data.reviews);
                        } else {
                            document.getElementById('reviewModalBody').innerHTML = `
                                <div class="alert alert-warning">
                                    <i class="fa fa-exclamation-triangle"></i> ${data.message || 'No reviews found'}
                                </div>
                            `;
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching reviews:', error);
                        document.getElementById('reviewModalBody').innerHTML = `
                            <div class="alert alert-danger">
                                <i class="fa fa-times-circle"></i> Error loading reviews. Please try again.
                            </div>
                        `;
                    });
            });
        });
        
        function displayReviews(reviews) {
            if (reviews.length === 0) {
                document.getElementById('reviewModalBody').innerHTML = `
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i> No reviews yet for this product.
                    </div>
                `;
                return;
            }
            
            let html = '';
            reviews.forEach(function(review) {
                const stars = '★'.repeat(review.rating) + '☆'.repeat(5 - review.rating);
                const reviewerName = review.user_name || review.reviewer_name || 'Anonymous';
                const reviewDate = new Date(review.created_at).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric'
                });
                const verifiedBadge = review.is_verified_purchase ? 
                    '<span class="verified-badge"><i class="fa fa-check"></i> Verified Purchase</span>' : '';
                
                html += `
                    <div class="review-item">
                        <div class="review-header">
                            <div>
                                <span class="reviewer-name">${escapeHtml(reviewerName)}</span>
                                ${verifiedBadge}
                            </div>
                            <span class="review-date">${reviewDate}</span>
                        </div>
                        <div class="review-stars" title="${review.rating} out of 5 stars">
                            ${stars}
                            <span class="ms-2">${review.rating} / 5</span>
                        </div>
                        ${review.comment ? `<div class="review-comment">${escapeHtml(review.comment)}</div>` : ''}
                    </div>
                `;
            });
            
            document.getElementById('reviewModalBody').innerHTML = html;
        }
        
        function escapeHtml(text) {
            if (!text) return '';
            const div = document.createElement('div');
            div.textContent = text;
            return div.innerHTML;
        }
    }
});
</script>

</div>
</div>
{% endblock %}


